[Desktop Entry]
Name=Hyper
Exec=/home/yalexaner/apps/hyper.AppImage
Icon=/home/yalexaner/apps/hyper.png
Type=Application
StartupNotify=true
Categories=Development;